* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: Arial;
    color: black;
    margin-left: 36%;
    
}

#subtitulo {
    font-family: Arial;
    color: black;
    margin-left: 42%;
}

fieldset{
    border: 2;
    margin-right: 20%;
    margin-left: 20%;
}

body{
    background-color: orange;
    font-family: Arial;
    font-size: 1em;
    margin-left:0%;
    margin-top: 2%;
    justify-content: center;
    color: black;
    
}

input, select, textarea, button{
    border-radius: 2px;
    
}

.campo{
    margin-bottom: 1em;

}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;

}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
    display: inline;
    
    
}

.campo input[type="texto"], .campo input[type="email"],.campo input[type="number"].campo input[type="radio"], .campo input[type="tel"].campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;

}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: blanchedalmond;
}

.botao{
    font-size: 1.2em;
    background: blanchedalmond;
    border: 1;
    margin-bottom: 1em;
    color: black;
    padding: 0.2em 0.6em;
    margin-left: 20%;
       
}

#check{
    display: inline-block;
}

